@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
/* 基础布局和排版 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 头部区域 */
.header-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    margin: 4px 0;
    color: #666;
}

/* 简介和技能区域 */
section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

/* 链接样式 */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 教育背景 */
.education li, .skills li {
    border: none;
    padding-bottom: 2px;
}

/* 联系方式 */
.contact p {
    margin-bottom: 10px;
}

